{% extends 'frontend/layouts/base.html' %}	

{% block title %} To Do {% endblock title %}
{% load humanize %}
{% load static %}
{% block content %}
	<!-- BEGIN #content -->

		<!-- BEGIN row -->
		<div class="row">	
			<div class="col-lg-6 col-sm-12">
				<!-- BEGIN Add_expense -->
				<div class="row">
					<div class="col-12">
						
						<div class="widget-reminder-header bg-inverse" style="color: white;">ADD TODO</div>						
						<div class="panel panel-inverse">
							<div class="panel-body inverse-mode bg-theme">
								<form action="{% url 'expenses' %}" method="POST" name="Add_expense">
									{% csrf_token %}

									<!-- Begin note -->
									<div class="row">
										<div class="form-group col-12">
											<input type="text" class="form-control" name="note" placeholder="Details ......">
										</div>
									</div>
									<!-- END note -->

									<!-- BEGIN row -->
									<div class="row">
										<!-- BEGIN select category -->		
										<div class="form-group col-6">
											<select class="form-control" name="category">
												<option selected disabled>select category</option>
												{% for category in context.categories %}
												<option value="{{ category.id }}">{{ category }}</option>
												{% endfor %}
											</select>
										</div>											
										<!-- END select category -->
										<!-- BEGIN select store -->		
										<div class="form-group col-6">

											<button type="submit" class="btn bg-inverse col-12">
												<div class=""><i class="ti-save"></i>&nbsp; Expense </div>
											</button>
										</div>									
									<!-- END select category -->
									</div>

									{% if msg %}
									<span class="text-danger">{{ msg }}</span>
									{% endif %}
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- END add_expenses -->
				<!-- BEGIN not completed -->
				<div class="row">
					{% for category, todos in not_completed.items %}
					<div class="col-12">									
						<div class="widget-reminder-header bg-inverse " style="color: white;">{{ category }} - not completed</div>			
						
						<ul class="widget widget-list inverse-mode">
							{% for todo in todos %}
							<li>
								<div class="widget-list-container bg-theme">
									<div class="widget-list-media icon ">
										<i class="{{ todo.category.icon }} {{ todo.category.color }}"></i>
									</div>
									<div class="widget-list-content">
										<h4 class="widget-title">{{ todo.task }}</h4>
	
										<div class="widget-desc hidden-xs">{{ todo.date_added }}</div>
									</div>
									<div class="widget-list-action">
										<div class="switcher switcher-success pull-left">
											<input type="checkbox" name="backup_checkbox" id="backup_checkbox" value="1">
											<label for="backup_checkbox"></label>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
								
					</div>
					{% endfor %}
				</div>

				<!-- END not completed -->
			</div>
			<div class="col-lg-6 col-sm-12">
				<!-- BEGIN all todos -->
				<div class="col-12">									
					<div class="widget-reminder-header bg-inverse " style="color: white;"> All Todos</div>			
					
					<ul class="widget widget-list inverse-mode">
						{% for todo in all_todos %}
						<li>
							<div class="widget-list-container bg-theme">
								<div class="widget-list-media icon ">
									<i class="{{ todo.category.icon }} {{ todo.category.color }}"></i>
								</div>
								<div class="widget-list-content">
									<h4 class="widget-title">{{ todo.task }}</h4>

									<div class="widget-desc hidden-xs">{{ todo.date_added }}</div>
								</div>
								<div class="widget-list-action">
									<div class="switcher switcher-success pull-left">
										<input type="checkbox" name="backup_checkbox" id="backup_checkbox" value="1">
										<label for="backup_checkbox"></label>
									</div>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
							
				</div>
				<!-- END all todos -->
			</div>
		</div>

	<!-- END #content -->
{% endblock content %}

{% block javascripts %}
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'assets/plugins/form/bootstrap-wizard/js/bootstrap-wizard.min.js' %}"></script>
	<script src="{% static 'assets/js/page/form-wizards.demo.min.js' %}"></script>
	<script src="{% static 'assets/js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			FormWizards.init();
		});
	</script>

{% endblock javascripts %}
